# Manim environment files
manim-env/

# Hamed environment files
hamed/

# Media output folders
media/
**/media/

# NLTK data
nltk_data/

# Dataset directory
data/

# CSV files
*.csv
!results/pheme_all_elimination/*.csv
!results/pheme_paper_elimination/*.csv
!results/train_paper_elimination/*.csv

# Text files
*.txt
!results/pheme_all_elimination/*.txt
!results/pheme_paper_elimination/*.txt
!results/train_paper_elimination/*.txt

# Output directory
output/

# These python files are not needed for the project
feature_elimination_fast.py
feature_elimination_normal.py

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Manim cache
*.manimcache
.DS_Store